.conteiner {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 90%;

  outline: 1px solid red;


  @media screen and (min-width: 1200px) {
    width: 95%;
    max-width: 1180px;

  }
  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  // }
}
