:root {
  --primary-bg-color: #ffffff;
  --header-bg-color: #1e1e1e;

  --primary-text-color: #1e1e1e;;
  --secondary-text-color: #9e9e9e;

  --link-text-color: #0000FF;

  --accent-color: #c51818;
  --accent-heder-color: #ffffff;
}